<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>video2live</string>
    <key>CFBundleDisplayName</key>
    <string>video2live</string>
    <key>CFBundleIdentifier</key>
    <string>com.shawn.video2live</string>
    <key>CFBundleVersion</key>
    <string>1.7.4</string>
    <key>CFBundleShortVersionString</key>
    <string>1.7.4</string>
    <key>CFBundleExecutable</key>
    <string>video2live</string>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>Live Photo Package</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Alternate</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.shawn.video2live.pvt</string>
            </array>
            <key>LSTypeIsPackage</key>
            <true/>
        </dict>
    </array>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>com.apple.package</string>
            </array>
            <key>UTTypeDescription</key>
            <string>Live Photo Package</string>
            <key>UTTypeIdentifier</key>
            <string>com.shawn.video2live.pvt</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>pvt</string>
                </array>
            </dict>
        </dict>
    </array>
</dict>
</plist>
